#!/usr/bin/env python

PACKAGE = "collision_detector_diagnoser"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#gen.add("int_param",    int_t,    0, "An Integer parameter", 50,  0, 100)
gen.add("percentage_threshold", double_t,1 , "A double parameter",.1, 0,   1)
#gen.add("str_param",    str_t,    0, "A string parameter",  "Hello World")
gen.add("allow_filter",   bool_t,   0, "Filtering ",  True)

mode_enum = gen.enum([ gen.const("Simple_Activation",      int_t, 0, "Simple Matching"),
                  gen.const("Consensus",     int_t, 1, "Consensus Approach")],
                  "Mode Selector")

gen.add("mode", int_t, 0, "Mode Selector", 0, 0, 2, edit_method=mode_enum)


exit(gen.generate(PACKAGE, "collision_detector_diagnoser", "dynamic_reconfigure"))
