<?xml version="1.0"?>

<launch>

  <!-- Sensor 0 Cam -->
  <include file="$(find vision_utils_ros)/launch/collision_detection.launch">
    <arg name="sensor_id" value="cam_0" />
    <arg name="sensor_number" value="0" />
  </include>

  <!-- Sensor 1 -->
  <include file="$(find accelerometer_ros)/launch/accelerometer.launch">
    <arg name="sensor_id" value="acc_1" />
    <arg name="sensor_number" value="1" />
  </include>

  <!-- Sensor 2-->
  <include file="$(find microphone_monitoring)/launch/collision_detection.launch">
    <arg name="sensor_id" value="mic_1"/>
    <arg name="sensor_number" value="2"/>
  </include>

  <!-- Sensor 3 LiDar tooo slow -->
  <include file="$(find laser_detection_ros)/launch/collision_detection.launch">
    <arg name="sensor_id" value="lidar_1"/>
    <arg name="sensor_number" value="3"/>
  </include>

  <!-- Sensor 4-->
  <include file="$(find amcl_monitoring)/launch/collision_detection.launch">
    <arg name="sensor_id" value="amcl"/>
    <arg name="sensor_number" value="4"/>
  </include>

  <!-- Sensor 5-->
  <include file="$(find odom_monitoring)/launch/collision_detection.launch">
    <arg name="sensor_id" value="odom"/>
    <arg name="sensor_number" value="5"/>
  </include>

</launch>
